body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.map-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 85%;
    max-width: 1000px;
    text-align: center;
}
.user-profile {
    background: #f1f8e9;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #c8e6c9;
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    align-items: center;
}
.btn-logout {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.85em;
    transition: background 0.3s;
}
.btn-logout:hover { background-color: #d32f2f; }
h1 { color: #2e7d32; margin: 10px 0; }
#map {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #a5d6a7;
    cursor: crosshair;
}
.popup-clima { font-weight: bold; color: #1565c0; display: block; margin-top: 5px; }
.popup-bus { font-size: 0.9em; color: #d32f2f; margin-top: 8px; border-top: 1px dashed #ccc; padding-top: 5px; }
.recomendacion-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 5px;
}
.btn-fav {
    background: #ffd54f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
}
.btn-fav:hover { background: #ffca28; }
.btn-detalle {
    background: #2e7d32;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.btn-detalle:hover { background: #1b5e20; }
.btn-gestion {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
.tooltip-guagua {
    background-color: #1565c0;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 8px;
}
.tiempo-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
}
.linea-badge {
    background: #1565c0;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}